<a href="<%= subs_url %>">Back to all</a>
<h1><%= @sub.title %></h1>
<a href="<%= edit_sub_url(@sub) %>">Edit</a>
<p><strong>Description</strong>
<br><%= @sub.description %></p>
<hr>
<h2>Posts</h2>

<ul>
  <% @sub.posts.each do |post| %>
  <li>
    <a href="<%= post_url(post) %>">  <%= post.title %>  </a>
    <br>
    By: <%= post.author.username %> | <%= time_ago_in_words(post.created_at) %> ago
  </li>
  <% end %>
</ul>

<p>
  + <a href="<%= new_post_url %>">Add a post!</a>
</p>
